<ion-header>
  <ion-toolbar>
    <ion-title>long-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
  </div>
  <ion-virtual-scroll [items]="items">
    <ion-item *virtualItem="let item" >
      <ion-label>{{item.label}}</ion-label>
      <ion-checkbox [checked]="item.value" (ionChange)="handleClick($event,item.label)"></ion-checkbox>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
