<ion-header>
  <ion-toolbar>
    <ion-title>About Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <div padding-top text-center>
    <img [src]="userProfilePic" *ngIf="userProfilePic" alt="avatar">
    <ion-list inset>
      <ion-item (click)="updatePicture()">Update Picture</ion-item>
    </ion-list>
  </div>
</ion-content>
